.metronome{
    text-align: center;
    max-width:375px;
    margin:0 auto;
    padding:30px;
    color:rgb(255, 4, 4);
    font-weight: bold;
}
.bpm-slider input{
    width:100%;
    margin: 10px;
}

.metronome button{
    background: #c300ff;
    padding:10px;
    border: solid 4px #33ff00;
    border-radius: 20px;
    width: 100px;
    color: #fff;
    font-size: 18px;
}